
body {
    font-family: 'Bebas Neue', sans-serif;
     background-color: #caa9e3;
    margin: 0;
    padding: 0;
    transition: all 0.2s ease; /* Transition for all properties */
    position: relative;
}

#main-content {
    transition: filter 1s ease;
}

/* Title styles */
h1 {
    text-align: center;
    font-size: 4em; /* Increased font size */
    letter-spacing: 20px; /* Increased letter spacing */
    margin-top: -10px; /* Adjusted margin */
    margin-bottom: -40px; /* Adjusted margin */
    color: black;
    transition: all 0.2s ease; /* Transition for all properties */
}

/* Buttons styles */
.buttons {
    font-family: 'Titillium Web', sans-serif;
    font-size: 40px; /* Increased font size */
    font-weight: 600;
    background-color: #caa9e3;
    width: 48px; /* Increased button width */
    height: 48px; /* Increased button height */
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px black; /* Increased box shadow */
    justify-content: center;
    border: 5px solid black; /* Increased border width */
    line-height: 35px;
    transition: all 0.2s ease; /* Transition for all properties */
    text-transform: capitalize;
}

.buttons:hover:not(.clicked, .found-word) {
    background-color: #977EAA;
    transition: background-color 0.2s ease; /* Transition for background color */
}

.clicked {
    background-color: #4A3E53;
    box-shadow: 0px 0px;
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Transition for background color and box shadow */
}

.found-word {
    background-color: #4A3E53;
    box-shadow: 0px 0px;
}

/* Grid container styles */
.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 50px); /* Increased column width */
    gap: 5px; /* Increased gap */
    justify-content: center;
    margin-top: 30px; /* Increased margin top */
    transition: all 0.2s ease; /* Transition for all properties */
}

/* Word list styles */
.word-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; /* Align items to the left */
    margin-top: 50px; /* Increased margin top */
    letter-spacing: 2px;
    transition: all 0.2s ease; /* Transition for all properties */
}

.word-list ul {
    list-style-type: none;
    padding: 0;
    gap: 20px; /* Increased gap */
    margin: 40px; /* Remove default margin */
}

.word-list li {
    font-size: 40px; /* Increased font size */
    font-weight: 500;
    margin-top: 15px; /* Increased margin top */
    text-align: center; /* Align text in the center */
    transition: all 0.2s ease; /* Transition for all properties */
    opacity: 100;
    /* animation: slideIn 2s ease forwards; */
}

/* Container styles */
.container {
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: flex-start; /* Align items to the top */
    max-width: 1400px; /* Increased max-width */
    margin: 0 auto;
    padding-left: -40px; /* Increased padding left */
    gap: 30px; /* Increased gap */
    transition: all 0.2s ease; /* Transition for all properties */
}

/* Game container styles */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content vertically */
    transition: all 0.2s ease; /* Transition for all properties */
}

.cross-word {
    text-decoration-line: line-through;
}


.pop-up {
    font-family: 'Bebas Neue';
    background-color: #9D91BF;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    z-index: 20;
    margin-left: 29%;
    margin-right: 30%;
    width: 40%;
    height: 80%;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    border-color: black;
    border: 10px solid black;
    box-shadow: 5px 5px black;
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.pop-up, p {
    color: #3E3974;
    font-size: 68px;
    display: flex;
    justify-content: center;
}

#popup-button {
    font-family: 'Bebas Neue';
    background-color: #3E3974;
    font-size: 30px;
    height: 10%;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    width: 60%;
    border-radius: 25px;
    border: 5px solid black;
    box-shadow: 2px 2px black;
    cursor: pointer;
}

#popup-button:hover {
    background-color: #211f3e;
}

footer p {
    display: inline;
    position: relative;
    color: black;
    margin: 0;
    font-size: 30px;
    height: 50px;
    width: fit-content;
    line-height: 60px;
    left: 86%;
    right: 14%;
    gap: 0px;
}

footer svg {
    display: inline;
    position: relative;
    margin: 0;
    height: 35px;
    width: 35px;
    left: 87%;
    right: 13%;
    margin-bottom: -7px;
}

a {
    text-decoration: none;
}

a, p:hover {
    color: #3E3974;
}


/* Adjusting the positioning of the word list */
@media (min-width: 768px) {
    .container {
        justify-content: flex-start; /* Start the content from the left */
    }

    .word-list {
        margin-right: 100px; /* Increased space between the word list and the grid */
        margin-left: -100px; /* Adjusted margin left */
        transition: all 0.2s ease; /* Transition for all properties */
    }
}


@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
